{% extends "page.html" %}

{% block subtitle %}{{ _("Open Government ") }}{% endblock %}


{% block content %}
{% block banner %}
{% snippet 'home/snippets/banner-index.html' %}
{% endblock %}
<main class="contact">
    <div class="containerContact">
        <div class="formulario">
            <h1>Contact Data.gov</h1>
            <p class="texto">Please let us know how we can improve this site and product.</p>
            <p class="aviso">A red asterisk (<span>*</span>) indicates a required field.</p>
            <div id="questoes">
                <label for="nome">Name</label>
                <input type="text" id="nome">
                <label for="email">Email</label>
                <input type="email" id="email">
                <label for="comment">Comment <span>*</span></label>
                <textarea name="comment" id="comment" maxlength="2500"></textarea>
                <p>2500 characters allowed</p>
                <a href="#questoes">Submit</a>
            </div>
            <a class="linkPrivacidade"
                href="https://www.gsa.gov/reference/gsa-privacy-program/privacy-act-statement-for-design-research">Privacy
                Act Statement for Design Research</a>
            <div class="privacidade">
                <img src="/imagens/data-eua/us_flag_small.png" alt="bandeira dos EUA">
                <p>
                    An official form of the United States government. Provided by
                    <a href="https://touchpoints.digital.gov/">
                        Touchpoints
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                            <path fill-rule="evenodd"
                                d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>

</main>
{%endblock%}