{% set dataset_type = h.default_package_type() %}

{% block header_wrapper %} {% block header_account %}
<div class="account-masthead">
  <div class="container">
    {% block header_account_container_content %} {% if c.userobj %}
    <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
      <ul class="list-unstyled">
        {% block header_account_logged %} {% if c.userobj.sysadmin %}
        <li>
          <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
            <i class="fa fa-gavel" aria-hidden="true"></i>
            <span class="text">{{ _('Admin') }}</span>
          </a>
        </li>
        {% endif %}
        {% block header_account_profile %}
        <li>
          <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
            {{ h.user_image((c.user if c and c.user else ''), size=22) }}
            <span class="username">{{ c.userobj.display_name }}</span>
          </a>
        </li>
        {% endblock %}
        {% block header_dashboard %}
        <li>
          <a href="{{ h.url_for('dashboard.datasets') }}" title="{{ _(" View dashboard") }}">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="text">{{ _('Dashboard') }}</span>
          </a>
        </li>
        {% endblock %}
        {% block header_account_settings_link %}
        <li>
          <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="text">{{ _('Profile settings') }}</span>
          </a>
        </li>
        {% endblock %} {% block header_account_log_out_link %}
        <li>
          <form action="{{ h.url_for('user.logout') }}" method="post">
            {{ h.csrf_input() }}
            <button class="btn btn-link" type="submit" title="{{ _('Log out') }}">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
          </form>
        </li>
        {% endblock %} {% endblock %}
      </ul>
    </div>
    {% else %}
    <nav class="account not-authed" aria-label="{{ _('Account') }}">
      <ul class="list-unstyled">
        {% block header_account_notlogged %}
        <li>{% link_for _('Log in'), named_route='user.login' %}</li>
        {% if h.check_access('user_create') %}
        <li>{% link_for _('Register'), named_route='user.register', class_='sub' %}</li>
        {% endif %} {% endblock %}
      </ul>
    </nav>
    {% endif %} {% endblock %}
  </div>
</div>
{% endblock %}
<header class="masthead">
  <div class="container">
    {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
    <div class="debug">Blueprint : {{ g.blueprint }}<br />View : {{ g.view }}</div>
    {% endif %} {% endblock %}
    <nav class="navbar navbar-expand-lg navbar-light">
      <hgroup class="{{ g.header_class }} navbar-left">

        {% block header_logo %}
        {% if g.site_logo %}
        <a class="logo" href="{{ h.url_for('home.index') }}">
          <img src="{{ h.url_for_static_or_external(g.site_logo) }}" alt="{{ g.site_title }}"
            title="{{ g.site_title }}" />
        </a>
        {% else %}
        <h1>
          <a href="{{ h.url_for('home.index') }}">{{ g.site_title }}</a>
        </h1>
        {% if g.site_description %}
        <h2>{{ g.site_description }}</h2>
        {% endif %}
        {% endif %}
        {% endblock %}
      </hgroup>
      <nav class="nav-menu">
        <ul>
          <li>
            <a href="{{ h.url_for(dataset_type ~ '.search') }}">Data</a>
          </li>
          <li>
            <a href="/metrics">Metrics</a>
          </li>
          <li>
            <a href="/open-government">Open Government</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="guiaUsuario">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-journal-richtext" viewBox="0 0 16 16">
          <path
            d="M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
          <path
            d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
          <path
            d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
        </svg>
        <a href="/user-guide">User Guide</a>
      </div>
      <div class="navMenu">
        <p>Menu</p>
      </div>

      <div class="sidebarNavMenu">
        <button class="closeSidebar" aria-label="Close sidebar">×</button>
        <nav>
          <ul>
            <li>
              <a href="{{ h.url_for(dataset_type ~ '.search') }}">Data</a>
            </li>
            <li>
              <a href="/metrics">Metrics</a>
            </li>
            <li>
              <a href="/open-government">Open Government</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="/user-guide">User Guide</a>
            </li>
          </ul>
        </nav>
      </div>
    </nav>
  </div>
</header>
{% endblock %}


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.querySelector(".navMenu");
    const sidebar = document.querySelector(".sidebarNavMenu");
    const closeButton = document.querySelector(".closeSidebar");

    menuButton.addEventListener("click", function (e) {
      e.stopPropagation();
      sidebar.classList.toggle("open");
    });

    closeButton.addEventListener("click", function () {
      sidebar.classList.remove("open");
    });

    document.addEventListener("click", function (event) {
      if (sidebar.classList.contains("open") &&
        !sidebar.contains(event.target) &&
        !menuButton.contains(event.target)) {
        sidebar.classList.remove("open");
      }
    });
  });

</script>