{% extends "page.html" %}

{% block subtitle %}{{ _("Open Government ") }}{% endblock %}


{% block content %}
{% block banner %}
{% snippet 'home/snippets/banner-index.html' %}
{% endblock %}
<main class="openGovernment">
  <div class="containerOpenGovernment">
    <h1>Open Government</h1>
    <p>Data.gov is the federal government's open data site, and aims to make government more open and
      accountable.
      Opening government data increases citizen participation in government, creates opportunities for
      economic
      development, and informs decision making in both the private and public sectors.</p>
    <p>Data.gov implements The OPEN Government Data Act (<a
        href="https://www.congress.gov/bill/115th-congress/house-bill/4174">Title II of the Foundations for
        Evidence-Based Policymaking Act of 2018, Public Law 115-435</a>). The OPEN Government Data Act makes
      Data.gov a requirement in statute, rather than a policy. It requires federal agencies to publish their
      information online as open data, using standardized, machine-readable data formats, with their metadata
      included in the Data.gov catalog.</p>
    <p>Data.gov is working with an expanded group of federal agencies to include their datasets in Data.gov as
      they
      implement the law. In addition, the law requires that GSA work with the Office of Management and Budget
      and
      the Office of Government Information Services to establish an "online repository of tools, best
      practices,
      and schema standards to facilitate the adoption of open data practices across the Federal Government."
      That
      repository can be found at <a href="https://resources.data.gov/">resources.data.gov</a>.</p>
    <p>Data.gov was built with open source software. Anyone, especially local, state, and foreign governments
      are
      welcome to borrow the code behind Data.gov.</p>
    <h1>Open Data in the United States and Internationally</h1>
    <p>Numerous states, cities, and counties have launched open data sites. By collaborating with these
      non-federal
      data sources, Data.gov is able to include this data in the catalog. Searches on the Data.gov catalog
      will
      return relevant datasets from both federal and non-federal sources.</p>
    <p>Download the full list of current international open data sites: <a
        href="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/open_data_intl.csv">CSV</a>.
    </p>
    <p>Download the full list of current open data sites in the United States: <a
        href="https://s3-us-gov-west-1.amazonaws.com/cg-0817d6e3-93c4-4de8-8b32-da6919464e61/open_data_us.csv">CSV</a>.
    </p>
  </div>
</main>
{%endblock%}