{% extends "home/index.html" %}

{% block primary_content %}

<section class="headerGO">
    <div class="containerGO">
        <img src="/imagens/data-go/logo_dados_abertos.png" alt="Dados aberto Goias">
        <img src="/imagens/data-go/logo_brasao (1).png" alt="Brasão logo">
    </div>
</section>
<section class="menuGO">
    <div class="containerGO">
        <nav>
            <ul>
                <li>
                    <a href="#">Conjunto de Dados</a>
                </li>
                <li>
                    <a href="#">Organizações</a>
                </li>
                <li>
                    <a href="#">Grupos</a>
                </li>
                <li>
                    <a href="#">Sobre</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<section class="pesquisaGO">
    <div class="containerGO">
        <div class="containerPesquisa">
            <input type="text" placeholder="Pesquisar Dados">
            <button>
                <img src="/imagens/data-go/icon-pesquisa.svg" alt="Pesquisa">
                Buscar
            </button>
        </div>
    </div>
</section>
<section class="dadosQTDEGO">
    <div class="containerGO">
        <div class="grupoDados">
            <p class="numero">
                115
            </p>
            <p class="tipoDeDado">
                Conjuntos de dados
            </p>
        </div>
        <div class="grupoDados">
            <p class="numero">
                51
            </p>
            <p class="tipoDeDado">
                Organizações
            </p>
        </div>
        <div class="grupoDados">
            <p class="numero">
                23
            </p>
            <p class="tipoDeDado">
                Grupos
            </p>
        </div>
    </div>
</section>
<section class="grupoDeDados">
    <div class="containerGOGrupoDados">
        <h2 style="text-align:center; margin-top:50px; margin-bottom:5px; color:#3C3C3C;">Grupos de Dados</h2>
        <div style="background-color: #3891DC; height: 1px; width: 175px; margin: 0 auto; margin-bottom:40px;"></div>
        <ul class="media-grid" data-module="media-grid">
            <li class="media-item">


                <img src="https://dadosabertos.go.gov.br/uploads/group/2024-09-25-110415.319052Administracao-PublicaGoverno.png"
                    alt="administracao-publica" class="media-image img-responsive">


                <h2 class="media-heading">Administração Pública</h2>






                <strong class="count">14 Conjuntos de dados</strong>



                <a href="/group/administracao-publica" title="Visualizar Administração Pública" class="media-view">
                    <span>Visualizar Administração Pública</span>
                </a>



            </li>
            <li class="media-item">


                <img src="https://dadosabertos.go.gov.br/uploads/group/2024-09-25-112450.535707AgriculturaPecuariaAbastecimento.png"
                    alt="agricultura-pecuaria-e-abastecimento" class="media-image img-responsive">


                <h2 class="media-heading">Agricultura, Pecuária e Abastecimento</h2>






                <span class="count">0 Conjunto de Dados</span>



                <a href="/group/agricultura-pecuaria-e-abastecimento"
                    title="Visualizar Agricultura, Pecuária e Abastecimento" class="media-view">
                    <span>Visualizar Agricultura, Pecuária e Abastecimento</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-170753.731299CienciaTecnologiaInovacao.png"
                    alt="ciencia-tecnologia-e-inovacao" class="media-image img-responsive">
                <h2 class="media-heading">Ciência, Tecnologia e Inovação</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/ciencia-tecnologia-e-inovacao" title="Visualizar Ciência, Tecnologia e Inovação"
                    class="media-view">
                    <span>Visualizar Ciência, Tecnologia e Inovação</span>
                </a>
            </li>
            <li class="clearfix js-hide"></li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-170829.844479Comunicacao.png"
                    alt="comunicacao" class="media-image img-responsive">
                <h2 class="media-heading">Comunicação</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/comunicacao" title="Visualizar Comunicação" class="media-view">
                    <span>Visualizar Comunicação</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-20-140807.914216Cultura.png"
                    alt="cultura" class="media-image img-responsive">
                <h2 class="media-heading">Cultura</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/cultura" title="Visualizar Cultura" class="media-view">
                    <span>Visualizar Cultura</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2024-09-25-112709.960467Desenvolvimento-SocialAssitencia-Social.png"
                    alt="desenvolvimento-social" class="media-image img-responsive">
                <h2 class="media-heading">Desenvolvimento Social_Assistência Social</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/desenvolvimento-social" title="Visualizar Desenvolvimento Social_Assistência Social"
                    class="media-view">
                    <span>Visualizar Desenvolvimento Social_Assistência Social</span>
                </a>
            </li>
            <li class="clearfix js-hide"></li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2024-09-25-110849.033041Economia.png"
                    alt="economiaa" class="media-image img-responsive">
                <h2 class="media-heading">Economia </h2>
                <strong class="count">10 Conjuntos de dados</strong>
                <a href="/group/economiaa" title="Visualizar Economia " class="media-view">
                    <span>Visualizar Economia </span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-20-183545.875080Educacao.png"
                    alt="educacao" class="media-image img-responsive">
                <h2 class="media-heading">Educação</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/educacao" title="Visualizar Educação" class="media-view">
                    <span>Visualizar Educação</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2024-09-25-112536.514628Energia.png"
                    alt="energia" class="media-image img-responsive">
                <h2 class="media-heading">Energia</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/energia" title="Visualizar Energia" class="media-view">
                    <span>Visualizar Energia</span>
                </a>
            </li>
            <li class="clearfix js-hide"></li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-151031.863502Esporte-e-Lazer.png"
                    alt="esporte-e-laser" class="media-image img-responsive">
                <h2 class="media-heading">Esporte e Lazer</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/esporte-e-laser" title="Visualizar Esporte e Lazer" class="media-view">
                    <span>Visualizar Esporte e Lazer</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-20-184105.621977Industria-e-Comercio.png"
                    alt="industria-e-comercio" class="media-image img-responsive">
                <h2 class="media-heading">Indústria e Comércio</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/industria-e-comercio" title="Visualizar Indústria e Comércio" class="media-view">
                    <span>Visualizar Indústria e Comércio</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-07-115347.624665Infraestrutura.png"
                    alt="infraestrutura" class="media-image img-responsive">
                <h2 class="media-heading">Infraestrutura</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/infraestrutura" title="Visualizar Infraestrutura" class="media-view">
                    <span>Visualizar Infraestrutura</span>
                </a>
            </li>
            <li class="clearfix js-hide"></li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-171253.363042Justica.png"
                    alt="justica" class="media-image img-responsive">
                <h2 class="media-heading">Justiça</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/justica" title="Visualizar Justiça" class="media-view">
                    <span>Visualizar Justiça</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-164614.753250Legislacao.png"
                    alt="legislacao" class="media-image img-responsive">
                <h2 class="media-heading">Legislação</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/legislacao" title="Visualizar Legislação" class="media-view">
                    <span>Visualizar Legislação</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-170942.415743Meio-Ambiente.png"
                    alt="meio-ambiente" class="media-image img-responsive">
                <h2 class="media-heading">Meio Ambiente</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/meio-ambiente" title="Visualizar Meio Ambiente" class="media-view">
                    <span>Visualizar Meio Ambiente</span>
                </a>
            </li>
            <li class="clearfix js-hide"></li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2024-09-25-112619.460250Participacao-Social.png"
                    alt="participacao-social" class="media-image img-responsive">
                <h2 class="media-heading">Participação Social</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/participacao-social" title="Visualizar Participação Social" class="media-view">
                    <span>Visualizar Participação Social</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-20-184145.197145Previdencia.png"
                    alt="previdencia" class="media-image img-responsive">
                <h2 class="media-heading">Previdência</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/previdencia" title="Visualizar Previdência" class="media-view">
                    <span>Visualizar Previdência</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-07-115254.097131Saneamento.png"
                    alt="saneamento" class="media-image img-responsive">
                <h2 class="media-heading">Saneamento</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/saneamento" title="Visualizar Saneamento" class="media-view">
                    <span>Visualizar Saneamento</span>
                </a>
            </li>
            <li class="clearfix js-hide"></li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-11-121907.571992Saude.png" alt="saude"
                    class="media-image img-responsive">
                <h2 class="media-heading">Saúde</h2>
                <strong class="count">1 Conjunto de dados</strong>
                <a href="/group/saude" title="Visualizar Saúde" class="media-view">
                    <span>Visualizar Saúde</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-14-183259.063561Seguranca.png"
                    alt="seguranca-publica" class="media-image img-responsive">
                <h2 class="media-heading">Segurança Pública</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/seguranca-publica" title="Visualizar Segurança Pública" class="media-view">
                    <span>Visualizar Segurança Pública</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-135817.065885Transparencia.png"
                    alt="transparencia" class="media-image img-responsive">
                <h2 class="media-heading">Transparência</h2>
                <strong class="count">1 Conjunto de dados</strong>
                <a href="/group/transparencia" title="Visualizar Transparência" class="media-view">
                    <span>Visualizar Transparência</span>
                </a>
            </li>
            <li class="clearfix js-hide"></li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2024-09-11-184658.523674Dados-AbertosTransportes-09.png"
                    alt="dadosabertos-go-gov-br-group-transporte" class="media-image img-responsive">
                <h2 class="media-heading">Transporte</h2>
                <strong class="count">11 Conjuntos de dados</strong>
                <a href="/group/dadosabertos-go-gov-br-group-transporte" title="Visualizar Transporte"
                    class="media-view">
                    <span>Visualizar Transporte</span>
                </a>
            </li>
            <li class="media-item">
                <img src="https://dadosabertos.go.gov.br/uploads/group/2025-03-21-171028.967857Turismo.png"
                    alt="turismo" class="media-image img-responsive">
                <h2 class="media-heading">Turismo</h2>
                <span class="count">0 Conjunto de Dados</span>
                <a href="/group/turismo" title="Visualizar Turismo" class="media-view">
                    <span>Visualizar Turismo</span>
                </a>
            </li>
        </ul>
    </div>
    </div>
</section>
<section class="site-footer" style="background-color:#00A447;">
    <div class="links" style="background-color:#F5F5F5;">
        <div class="containerGOFooter">
            <a href="http://www.transparencia.go.gov.br/portaldatransparencia/institucional/acesso-a-informacao"
                target="blank"><img src="/imagens/data-go/logo-acesso-info.png" alt="Logo Acesso a Informação"></a>
            <a href="https://www.go.gov.br/servicos-digitais/cge/nova-ouvidoria" target="blank"><img
                    src="/imagens/data-go/logo-ouvidoria-goias.png" alt="Logo Ouvidoria do Estado de Goiás"></a>
            <a href="https://vaptvupt.go.gov.br/unidades" target="blank"><img
                    src="/imagens/data-go/logo-servico-cidadao.png" alt="Logo Serviço de Informação ao Cidadão"></a>
            <a href="https://www.go.gov.br/servicos-digitais/cge/nova-ouvidoria" target="blank"><img
                    src="/imagens/data-go/logo-e-servico-cidadao.png"
                    alt="Logo Serviço Eletrônico de Informação ao Cidadão"></a>

            <a href="https://www.imb.go.gov.br/bde/" target="blank"><img src="/imagens/data-go/bde-imb.png"
                    alt="Logo Serviço Eletrônico de Informação ao Cidadão"></a>
        </div>
    </div>
    <div style="background-color: #F0F8FF; border-top: 5px solid #0190D8; padding: 30px 0;">
        <div class="containerGOFooter" style="display: flex; align-items: center; gap: 0px; flex-wrap: wrap;">
            <img src="/imagens/data-go/lupa.png" alt="Ícone de pesquisa" style="width: 80px; height: 80px; flex-shrink: 0;">
            <div style="flex: 1;">
                <p style="font-size: 18px; text-align: center; font-weight: 500; color: #144530; margin: 0;">
                    Não encontrou os dados que procurava?
                    <a href="https://www.go.gov.br/servicos-digitais/cge/nova-ouvidoria"
                        style="color: #0056b3; font-weight: bold; text-decoration: underline;" target="_blank">
                        <font color="#6495ED">Clique aqui e acesse o formulário de pedido de informação</font>
                    </a>
                    para solicitar a disponibilização da base de dados desejada.
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}