<div class="pesquisaInputSelect">
    <input id="search-big" type="text" class="search" name="q" value="" autocomplete="off" placeholder="Search datasets..." onblur="if(value=='') value = 'Search datasets...'" onfocus="if(value=='Search datasets...') value = ''">
    <select id="field-order-by" name="sort" class="form-control form-select">
        <option value="score desc, name asc">Relevance</option>
        <option value="title_string asc" selected="selected">Name Ascending</option>
        <option value="title_string desc">Name Descending</option>
        <option value="metadata_modified desc">Last Modified</option>
        <option value="views_recent desc">Popular</option>
        <option value="metadata_created desc">Date Added</option>
    </select>
</div>