{% set tags = h.get_facet_items_dict('tags', search_facets, limit=3) %}
{% set placeholder = _('') %}
{% set dataset_type = h.default_package_type() %}

<section class="homeIndex">
    <div class="containerHomeIndex">
        <div class="homeIndex-textos">
            <h1>The Home of the U.S. Government's Open Data</h1>
            <p>Here you will find data, tools, and resources to conduct research, develop web and mobile applications,
                design data visualizations, and more.</p>
            <h4><span>311,609</span> datasets available</h4>
        </div>
        <div class="homeIndex-pesquisa">
            <form method="get" action="{% url_for dataset_type ~ '.search' %}">
                <input aria-label="{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search placeholder') or _('Search datasets') }}{% endblock %}" id="field-main-search" type="text" class="form-control" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
                <button  type="submit" aria-labelledby="search-label">Search</button>
            </form>
        </div>
    </div>
</section>