<section class="homeIndex">
    <div class="containerHomeIndex">
        <div class="homeIndex-textos">
            <h1>The Home of the U.S. Government's Open Data</h1>
            <p>Here you will find data, tools, and resources to conduct research, develop web and mobile applications,
                design data visualizations, and more.</p>
            <h4><span>311,609</span> datasets available</h4>
        </div>
        <div class="homeIndex-pesquisa">
            <form action="">
                <input type="text">
                <button>Search</button>
            </form>
        </div>
    </div>
</section>