
.masthead, .site-footer {
    background: #0e2d63;
}

.main {
    padding: 20px 20px;
    background: #eee;
    min-height: 68.2dvh;
}

.masthead .navbar .logo img {
    height: 100%;
    max-height: 60px;
    min-height: 0px;
    max-width: 100%;
}

.col-md-6 {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.homepage .module-promotion {
    width: 100%;
    border-radius: 5px;
}

.box, .group-list, .module-heading {
    background-color: #fff;
    border-radius: 5px !important;
}