.bannerIndex {
    background-image: url('/imagens/data-eua/15-years-anniversary-banner-2912px.jpg');
    background-size: cover;
    padding: 1rem;
    height: 100%;
    max-height: 56px;
}

.bannerIndex p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.bannerIndex p span {
    font-weight: bolder;
}

@media (max-width: 360px) {
    .bannerIndex {
        height: auto;
        max-height: none;
    }
}