.openGovernment {
    width: 100%;
    max-width: 75rem;
    padding: 32px 0;
    margin: 0 auto;
}

.containerOpenGovernment {
    width: 75%;
    margin: 0 auto;
    padding: 0 16px;
}

.containerOpenGovernment h1 {
    font-size: 2.44rem;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 58px;
}

.containerOpenGovernment h1:nth-child(1) {
    margin-top: 0px;
}

.containerOpenGovernment p {
    font-size: 1.01rem;
    line-height: 1.6;
    margin-top: 1em;
    color: var(--cor-texto);
}

.containerOpenGovernment p a {
    color: var(--cor-azul);
    text-decoration: underline;
    word-break: break-all;
}

@media (max-width: 1024px) {
    .containerOpenGovernment {
        width: 100%;
    }
}

@media (max-width: 305px) {
    .containerOpenGovernment h1 {
        word-break: break-all;
    }
}