.missaoIndex {
    background-image: url('/imagens/data-eua/mission-section-bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerMissao {
    max-width: 75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerMissao h2 {
    font-size: 2em;
    font-weight: 500;
    margin: 0.67em 0;
    line-height: 1.2;
}

.containerMissao p {
    text-align: center;
    width: 90%;
}

.containerMissao a {
    background-color: var(--cor-vermelho);
    color: white;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: max-content;
    margin-top: 24px;
}

.containerMissao a:hover {
    text-decoration: none;
}