#map {
    height: 200px;
    width: 100%;
    margin-top: 1rem;
}

.containerMapa {
    width: 100%;
    margin: auto;
    max-width: 800px;
    padding: 0;
}

.containerMapa h2{
    width: 100%;
    padding: 8px 15px;
    border-bottom: 1px solid var(--cor-cinza);
    font-size: 14px;
}

#location-search{
    margin: 12px;
    width: 90%;
    border: 1px solid var(--cor-cinza);
    border-radius: 3px;
}