.catalogoIndex {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    background-image: url('/imagens/data-eua/quick-navs-bg.jpg');
    background-size: cover;
}

.containerCatalogo {
    max-width: 75rem;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.cardContainerCatalogo {
    padding: 0 12px;
}

.containerCatalogo .card {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #dfe1e2;
    background-color: #FCFCFB;
    margin: 1rem 0;
}

.containerCatalogo .card .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerCatalogo .card .card-body svg {
    width: 40px;
    height: 40px;
    color: var(--cor-vermelho);
}

.catalogoLink {
    color: var(--cor-texto);
    text-decoration: underline;
}

.catalogoLink:hover {
    color: var(--cor-texto);
}

@media (max-width: 1024px) {
    .containerCatalogo {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .cardContainerCatalogo {
        flex: 1 1 100%;
        padding: 0 8px;
    }
}
