.masthead {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
}

.masthead .container .logo img{
    height: 50px;
    width: 200px;
}

.masthead .container .navbar{
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-menu ul li {
    padding: 16px;
}

.nav-menu ul li a{
    color: var(--cor-cinza-escuro);
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    font-size: 15px;
}

.nav-menu ul li a:hover{
    text-decoration: none;
    border-bottom: 3px solid var(--cor-vermelho);
    padding-bottom: 16px;
}