.homeIndex {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/imagens/data-eua/hero-image-bg.svg');
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: 98%;
    background-color: var(--cor-fundo);
}

.containerHomeIndex {
    max-width: 75rem;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;

}

.homeIndex-textos {
    display: flex;
    flex-direction: column;
    max-width: 35em;
    text-align: start;
}

.homeIndex-textos h1 {
    font-size: 32px;
    font-weight: 500;
    margin: 0.67em 0;
}

.homeIndex-textos p {
    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 10px;
    line-height: 24px;
}

.homeIndex-textos h4 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.homeIndex-textos span {
    font-size: 24px;
    color: var(--cor-vermelho);
}


.homeIndex-pesquisa {
    margin: 16px 0;
}

.homeIndex-pesquisa form {
    display: grid;
    grid-template-columns: 1fr auto;
    height: 2rem;
    width: 50%;
}

.homeIndex-pesquisa form input {
    height: 2rem;
    font-size: 0.95rem;
    font-weight: 400;
    margin: 0;
    padding: 0 8px;
    border: 1px solid;
    border-right: none;
}

.homeIndex-pesquisa form button {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    padding: 0 16px;
    height: 2rem;
    color: var(--cor-texto-secundaria);
    background-color: var(--cor-vermelho);
    border: none;
    border-radius: 0 5px 5px 0;
}