<section class="aniversarioIndex">
    <div class="containerAniversario">
        <img class="img-fluid" src="/imagens/data-eua/15-years-anniversary-graphic.jpg"
            alt="Imagem de comemoração do aniversário de 15 anos">
        <div class="textosAniversario">
            <h2>Data.gov at 15</h2>
            <p>On May 21, 2009, Data.gov launched with a total of 47 datasets. After the landmark 2013 <a href="#">Open
                    Data Policy</a> required agencies to create comprehensive data inventories and public data listings,
                the site grew to 115,000+ datasets from 88 organizations by 2015. These requirements were enacted into
                the <a href="#">Open Government Data Act</a> in 2019. Today, Data.gov is nearing 300,000 datasets and
                dataset collections in the catalog, harvested from over 100 organizations, and counts over a million
                monthly pageviews from people like you, looking to discover that information. In 2024, Data.gov
                continues its commitment to open government data and transparency. Thank you for 15 years!
            </p>
            <a class="botaoTextos" href="#">
                Explore the timeline
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                </svg>
            </a>
        </div>
    </div>
</section>